.introdiv {
    text-align: center;
}

h1 {
    color: rgb(255, 0, 0);
}

.factshead {
    margin: 0px;
    padding: 0px;
    font-size: 300%;
}

.wstable {
    border: 2px solid white;
    width: 65%;
}

.facts {
    text-decoration: underline;
    text-decoration-color: mistyrose;
}

#questionmarkmanImg {
    position: absolute;
    bottom: 0;
    left: 0px;
    top: 0px;
    z-index: -1;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
    background-color: black;
    background-image: url(https://i.imgur.com/jvinZ9k.png);
    background-attachment: fixed;
}
