.introdiv {
    text-align: center;
}

h1 {
    color: lightsteelblue;
}

.factshead {
    margin: 0px;
    padding: 0px;
    font-size: 300%;
}

.wstable {
    border: 2px solid white;
    width: 65%;
}

.wquestions {
    text-shadow: 0.25px 0.25px firebrick;
}

#questionmarkmanImg {
    position: absolute;
    bottom: 0;
    left: 0px;
    top: 0px;
    z-index: -1;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    background-color: rgb(155, 155, 155);
    background-image: url(https://i.imgur.com/jvinZ9k.png);
    background-attachment: fixed;
}
